* {
    background-image:linear-gradient(#CCDAE0, #EDF2F4)
}

header {
    text-align: center;
}

h1 {
    color: #EF233C;
    font-size: x-large;
    font-weight: bold;
    font-family: Impact;
}

h3 {
    color: #2B2D42;
    font-size: large;
    font-weight: bold;
    text-decoration:underline dashed;
}

article {
    border: 1px solid black;
}

img {
    display: block;
    margin: auto;
    border: #8D99AE 2px solid;
}

footer {
    text-align: end;
}

ul {
    list-style-type: none;
}

a:visited {
    color: grey;
}

a {
    color: #D90429;
}

a:hover {
    color: #2B2D42;
}

